.card {
  overflow: hidden;
  border: none;
}

.card img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
}

.card .product-title {
  height: 6ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}