.dropdown-toggle {
  background-color: transparent !important;
  border-radius: 0;
  border: none;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  border: none;
}

.dropdown-menu>button {
  min-width: max-content;
  width: 100%;
  text-align: start;
  border-radius: 0;
  border: none;
}

.dropdown-menu>button:not(:last-of-type) {
  border-bottom: 1px solid lightgrey !important;
}