.form-check-input[type="checkbox"] {
  border-radius: 0 !important;
}

.form-check-input:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--bs-btn-active-border-color);
}

.form-check-input[type="checkbox"]:checked {
  background-color: var(--bs-btn-active-bg) ;
  border-color: var(--bs-btn-active-border-color);
}

.form-check-input[type="radio"]:checked {
  background-color: var(--bs-btn-active-bg) ;
  border-color: var(--bs-btn-active-border-color);
}

/* for firefox (not standard but simple)*/
/* to remove the arrows inside the input element */
.form-control[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  border-radius: 0;
}

/* for webkit browsers (not standard but simple) (same effect as above)*/
.form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--bs-btn-active-border-color);
}